@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans',
    sans-serif;
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: large;
  font-weight: bolder;
}

h3 {
  margin: 0;
  font-size: medium;
  font-weight: bolder;
}

.count {
  margin: 0;
  text-align: right;
}

.name {
  margin-bottom: 20px;
  font-weight: bolder;
  text-decoration: underline 2px rgb(41, 171, 226);
  text-underline-offset: 2px;
}

p {
  margin: 1.5px;
  font-size: small;
  font-weight: bold;
}

ol {
  margin: 0;
  font-size: small;
  font-weight: bold;
}

ol li {
  margin: 2px 0;
  font-size: small;
  font-weight: normal;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  box-sizing: border-box;
  height: 75px;
  width: 100%;
  padding: 20px;
  background-color: rgb(41, 171, 226);
  color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
}

.card-container {
  background-color: white;
  width: 600px;
  height: 300px;
  box-sizing: border-box;
  margin-top: 7%;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 37, 37);
}

.userInfo {
  margin-bottom: 15px;
}

.bottom-nav {
  width: 600px;
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin: 7px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: 'Nunito Sans' sans-serif;
  font-weight: bold;
  font-size: small;
}

.mod {
  margin: 7px;
  padding: 5px 10px;
  background-color: rgb(41, 171, 226);
  border: none;
  color: white;
  font-family: 'Nunito Sans' sans-serif;
  font-weight: bold;
  font-size: small;
  border-radius: 15px;
}